{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <section class="articles">
        {% for article in articles %}
            <article>
                <h2>{{ article.title }}</h2>
                <div class="metadata">Écrit le {{ article.createdAt.format("d/m/Y à H:i") }} dans la catégorie
                    {{ article.category.title }}</div>
                <div class="content">
                    <img src="{{ article.image }}">
                    <p>{{ article.content }}</p>
                    <a class="btn btn-primary" href="{{ path("blog_show", {"id": article.id}) }}">Lire la suite</a></div>
            </article>
        {% endfor %}
    </section>
{% endblock %}
